@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Trirong:ital,wght@1,100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("images/landing.jpg");
    background-size: cover;
}

/* header */

#top-logo {
    height: 10vw;
    width: 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

nav a {
    font-family: 'Trirong', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    margin: 1rem;
    justify-items: space-between;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h1 {
    color: aliceblue;
    font-family: 'Aboreto', sans-serif;
    text-align: center;
    font-size: 3rem;
}
#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:justify;
    padding: 1rem;
}

h2 {
    color: aliceblue;
    font-family: 'Trirong', sans-serif;
    font-size: 1.5rem;
}
/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; */


/* main article img {
    border-radius: 50%;
    width: 100%;
    
} */

/* main img {
    width:100%; 
    height:100%;
    border-radius: 50%;
} */