/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Trirong:ital,wght@1,100&family=Work+Sans:ital,wght@1,100&display=swap');

/* Background image & sizing */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(images/landing.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Header */

#top-logo {
    height: 20vw;
    width: 25vw;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Navigation */

nav a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
    margin: 1rem;
    justify-items: space-between;
}

/* Main content */

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
h1 {
    color: aliceblue;
    font-family: 'Aboreto', sans-serif;
    text-align: center;
    font-size: 4rem;
}
#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:justify;
    padding: 1rem;
}
h2 {
    color: aliceblue;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

/* Social Links */
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.socials a:hover {
    transform: scale(1.25);
}


/* Contact Information */

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 1rem;
}
#contact {
    align-items: center;
    font-family: 'Work Sans';
    font-size: 1.5rem;
    position: relative;
    top: 50px;
}

/* Footer */

footer p {
    padding: 1rem;
    color: aliceblue;
    font-family: 'Aboreto', sans-serif;
    font-size: 0.75rem;
    position: relative;
    top: 200px;
    
}

@media screen and (min-width: 481px) {
    .socials {
        flex-direction: row;
        justify-content: center;
        position:relative;
        top: 5rem;
    }
    #contact {
        position: relative;
        top: 20rem
    }
    footer {
        position: relative;
        top: 15rem;
    }
}