/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Trirong:ital,wght@1,100&family=Work+Sans:ital,wght@1,100;1,500&display=swap');

/* Background image & sizing */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 117, 148);
    background-image: url(images/about.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* Header */

#top-logo {
    height: 20vw;
    width: 25vw;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Navigation */

nav a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-size: 2rem;
    color:aliceblue;
    margin: 1rem;
    justify-items: space-between;
}
/* Heading */

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: aliceblue;
    font-family: 'Aboreto', sans-serif;
    text-align: center;
    font-size: 3rem;
}

/* Picture & Description */

#self-pic {
    width: 80vh;
    overflow: hidden ;
   
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article p {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
}

/* CV Link */

#resume {
    color: aliceblue;
    font-family: 'Aboreto', sans-serif;
    text-decoration: none;
}


/* Footer */

footer {
    color: aliceblue;
    font-family: 'Aboreto', sans-serif;
    font-size: 0.75rem;
    text-align: right;
    padding-right: 20px;
    padding-top: 1rem;
}

/* Media Queries */

@media screen and (min-width: 481px) {
    footer {
        position: relative;
        top: 5rem;
    }
    #resume {
        position: relative;
        top: .5rem;
    }
    article p {
        text-align: justify;
    }
}

