body {
    background-image: url("images/galaxy.jpg");
    background-size: cover;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header a {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-decoration: none;
    color: aliceblue;
    margin: 0 0.5rem;
    
}

.top-logo {
    height: 15vw;
    width: 15vw;
   
}


h1 {
    color: aliceblue;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-align: center;
    font-size: 4rem;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.75rem;
    color: aliceblue;
   
    
}
ul  {
    /* display: flex;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    display: flex;
    color: aliceblue */
    
}

#nav-bar {
    display: flex;
    flex-direction: column;
}